[Unit]
Description=HAProxy Kubernetes Ingress Controller
After=network-online.target

[Service]
ExecStart=/usr/local/bin/haproxy-ingress \\
    --configmap-error-page=haproxy-ingress/error-page \\
    --default-backend-service=haproxy-ingress/default-backend \\
    --kubeconfig=/etc/haproxy/kube/config \\
    --program=/usr/sbin/haproxy \\
    --reload-strategy=native \\
    --config-file=/etc/haproxy/haproxy.cfg \\
    --watch-namespace=

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 