# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet static
    address {{ ansible_host }}
    netmask 255.255.0.0
    gateway {{ default_gateway }}
    dns-nameservers {{ dns_servers }}

# Load 8021q module at boot
post-up modprobe 8021q

# VLAN interface for HAProxy virtual IP
auto eth0.{{ vlan_id }}
iface eth0.{{ vlan_id }} inet manual
    vlan-raw-device eth0
    post-up ip link set dev eth0.{{ vlan_id }} up 